<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/icons.css">

<title> <%=pageTitle %> </title>
<% if (path == '/signIn' || path == '/signUp') { %>
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/login.js"></script>
    <meta name="theme-color" content="#712cf9">
<% } else if(path == '/dashboard') { %>
    <link rel="stylesheet" href="/css/dashboard.css">
<% } %>

<script src="/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>