<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/icons.css" />

<title><%=pageTitle %></title>

<meta name="theme-color" content="#712cf9" />
<meta name="description" content="">
<meta name="author" content="mohammad zourmand, rahatbekhun">
<meta name="generator" content="Hugo 0.118.2">

<% if (path == '/login' || path == '/register' || path == '/forget-password' || path == '/pass-rewinder') { %>
    <link rel="stylesheet" href="/css/login.css" />
    <script defer src="/js/login.js"></script>
    <script
        src="https://www.google.com/recaptcha/api.js?hl=en"
        async
        defer
    ></script>
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.23.0/ckeditor.js"
        integrity="sha512-7tXDCaWDbkhXMuB8meqHJJySRtqB4QvPS84FMnnh5vlyRiNsrIne8xwME0RQNrg4f+7CZPOAc7tXNtWgdHdCng=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
<% } else if(path == '/dashboard') { %>
    <script defer src="/js/uploadImgPost.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
<% } else if(path == '/add-post') { %>
    <script src="/js/uploadImgPost.js" crossorigin="anonymous"></script>
<% } else if(path === '/') { %>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">    
<% } %>

<script
  src="/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
