<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/icons.css" />

<title><%=pageTitle %></title>
<% if (path == '/login' || path == '/register') { %>
    <link rel="stylesheet" href="/css/login.css" />
    <script defer src="/js/login.js"></script>
    <meta name="theme-color" content="#712cf9" />
    <script
        src="https://www.google.com/recaptcha/api.js?hl=en"
        async
        defer
    ></script>
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.23.0/ckeditor.js"
        integrity="sha512-7tXDCaWDbkhXMuB8meqHJJySRtqB4QvPS84FMnnh5vlyRiNsrIne8xwME0RQNrg4f+7CZPOAc7tXNtWgdHdCng=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
<% } else if(path == '/dashboard') { %>
    <script defer src="/js/uploadImgPost.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
<% } else if(path == '/add-post') { %>
    <script src="/js/uploadImgPost.js" crossorigin="anonymous"></script>
<% } %>

<script
  src="/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
