<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./includes/global/head.ejs') %>
    </head>
    <body class="rtl">
        <%- include('./includes/dashboard/index.ejs') %>
    </body>
</html>