<h1 class="my-4"> Welcome to your dashboard </h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">MODIFY</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">See<small class="text-body-secondary fw-light">EveryThing</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Can see Posts</li>
              <li>Can delete files</li>
              <li>Can edit files</li>
            </ul>
            <a href="/admin/posts" type="button" class="w-100 btn btn-lg btn-primary">Go to see all posts</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">ADD</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Add<small class="text-body-secondary fw-light">NewPost</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Choose Public & Private</li>
              <li>Exciting Editor</li>
              <li>Able to Add Picture</li>
            </ul>
            <a href="/admin/add-post" type="button" class="w-100 btn btn-lg btn-primary">Add Post to Project</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">RESULT</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Show<small class="text-body-secondary fw-light">YourTry</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>All Posts are there</li>
              <li>have navbar</li>
              <li>have footer</li>
            </ul>
            <a href="/" type="button" class="w-100 btn btn-lg btn-primary">Go to Website HomePage</a>
          </div>
        </div>
    </div>

</div>
