<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-4">
        <% if (page === "/dashboard") { %>
            <%- include("./dashboard.ejs") %>            
        <% } else if(page === "/posts") { %>
            <%- include("./posts/list.ejs") %>
        <% } else if(page === "/add-post") { %>
            <%- include("./posts/add.ejs") %>
        <% } else if(page === "/edit-post") {%>
            <%- include("./posts/edit.ejs") %>
        <% } %>
    </div>
</main>