<form action="search" method="post">
    <div class="d-flex">
        <input
            name="search"
            type="text" 
            class="form-control"
            id="search" 
            placeholder="Type EveryThing You wanna realize..."
        >
        <button class="btn btn-primary py-2" type="submit">Search</button>
    </div>
</form>